/* --------font------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ------------common style----------- */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.top-container{
    width: 100%;
    display: flex;
    background-color: #2D25A0;
    
}
.top-container:hover{
    background-image: linear-gradient(purple, gray );
}
.headre-left{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}
.headre-left h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
}
.headre-left a{
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 27px;
}
.top-container img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-left: 102px;
    margin-right: 140.99px;
    transition: 1s;
}
.top-container img:hover{
    transform: scale(1.1);
}

/* top section end */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px; 
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;

}
.player{
    width: 330px;
    height: 447px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;

    
}
.player .thumbnail{
    width: 300px;
    height: 256px;
    align-items: center;
    margin: 15px 15px 0px 15px;
}
.player-detail{
    margin: 15px 15px 0px 15px;
}
.player-detail h1{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 5px;
    margin-bottom: 5px;
}
.player-detail p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #6C6C6C;
    margin-top: 5px;
    margin-bottom: 0px;
}
/* third section */
.third-container{
    display: flex;
    align-items: center;
}
.third-section-left{
    margin-left: 182px;
    margin-top: 224px;
}
.third-container h1{
    width: 400px;
    height: 140px;
    font-size: 45px;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
}
.third-container img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
    margin-right: 120px;
    margin-left: 66px;
    transition: 1s;
}
.third-container img:hover{
    transform: scale(1.2);
}
.third-container a{
    width: 173px;
    height: 44px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    margin-top: 24px;
}
.third-container a:hover{
    background-image: linear-gradient(pink, red);
}
.third-container p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
/* third section ended */
/* fourth section started */
.Extra-add h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 155px;
}

.gallery-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 120px;
    margin-right: 120px;
    
}
.photo-gallery .gallery-items img{
    width: 100%;
    height: 200px;
}
.gallery-items .item-1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.gallery-items .item-5{
    grid-column-start: 1;
    grid-column-end: 3;
}
.gallery-items .item-7{
    grid-column-start: 1;
    grid-column-end: 4;
}
/* fourth section end */

/* footer section */
.footer-section{
    /* display: flex; */
    width: 483.87px;
    height: 213px;
    text-align: center;
    margin-left: 30%
}
.logo img{
    width: 483.87px;
    height: 110px;
    margin-top: 158px;
    justify-content: center;
    align-items: center;
}
.social-icon{
    font-size: 50px;
    color: #969BAB;
    margin-top: 20px;
}
.social-icon a i{
    background-color: white;
    border-radius: 50%;
}
.footer-section h4{
    margin-top: 20px;
    margin-bottom: 63px;
    font-size: 18px;
    color: #000000;
}
/* Media queries */

/* mobile devices */
@media only screen and (max-width:688px){
    .top-container{
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    .headre-left h1{
        width: 278px;
        height: 138px;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
        margin-left: 16px;
        margin-right: 66px;
        margin-bottom: 30px;
        align-items: flex-start;
    }
    .top-container img{
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .third-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
        
    }
    .third-container a:hover{
        background-image: linear-gradient(pink, red);
    }
    .third-section-left{
        width:100%;
        height:100%;
        margin: auto;
        align-items: flex-start;
        justify-content: center;
    }
    .third-container h1{
        width: 100%;
        height: 100%;
        font-size: 30px;
        line-height: 40px;
        margin-left: 15px;
        margin-right: 16px;
        align-items: center;
        justify-content: center;
    }
    .third-container p{
        font-size: 16px;
        font-weight: 400px;
        line-height: 28px;
        margin-left: 15px;
        margin-right: 16px;
    }
    .third-container a{
        margin-left: 15px;
        margin-right: 16px;
    }
    .photo-gallery .gallery-items img{
        width: 100%;
        height: 100%;
    }
    .footer-section{
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 18px;
    }
} 
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .top-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .third-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    .footer-section{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    
}


