/* --------font------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ------------common style----------- */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.top-container{
    display: flex;
    background-color: #2D25A0;
    
}
.top-container:hover{
    background-image: linear-gradient(purple, gray );
}
.headre-left{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}
.headre-left h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
}
.headre-left a{
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 27px;
}
/* .headre-left a:hover{
    transform: scale3d(10deg 10deg 10deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} */
.top-container img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-left: 102px;
    margin-right: 140.99px;
}
/* top section end */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px; 
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;

}
.player{
    width: 330px;
    height: 447px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;

    
}
.player .thumbnail{
    width: 300px;
    height: 256px;
    align-items: center;
    margin: 15px 15px 0px 15px;
}
.player-detail{
    margin: 15px 15px 0px 15px;
}
.player-detail h1{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 5px;
    margin-bottom: 5px;
}
.player-detail p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #6C6C6C;
    margin-top: 5px;
    margin-bottom: 0px;
}
/* third section */
.third-container{
    display: flex;
    align-items: center;
}
.third-section-left{
    margin-left: 182px;
    margin-top: 224px;
}
.third-container h1{
    width: 400px;
    height: 140px;
    font-size: 45px;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
}
.third-container img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
    margin-right: 120px;
    margin-left: 66px;
}
.third-container a{
    width: 173px;
    height: 44px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    margin-top: 24px;
}
.third-container a:hover{
    background-image: linear-gradient(pink, red);
}
.third-container p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
/* third section ended */
/* fourth section started */
.Extra-add h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 155px;
}

.gallery-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 120px;
    margin-right: 120px;
    
}
.photo-gallery .gallery-items img{
    width: 100%;
    height: 300px;
}
.gallery-items .item-1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.gallery-items .item-5{
    grid-column-start: 1;
    grid-column-end: 3;
}
.gallery-items .item-7{
    grid-column-start: 1;
    grid-column-end: 4;
}
